@import url("https://fonts.googleapis.com/css?family=Quicksand");
// f5efed
.search-container {
  font-family: "Quicksand", sans-serif;
  background: linear-gradient(-37deg, #f5efed 0%, #2292a4 90%, #2292a4 100%);
  background-attachment: fixed;
  min-height: 100vh;
}
